/* public/css/styles.css */

/* Ensure body margin and padding are zero */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.logo {
    height: 30px;
    margin-right: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.container {
    margin-top: 60px;
}

.content-wrapper {
    margin-top: 100px;
    /* Adjust the margin to create space between the navigation bar and the content */
    padding: 20px;
    text-align: center;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
}

.gallery-section {
    margin-top: 40px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.big {
    grid-column: span 2;
}

.qr-code {
    margin-top: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}